<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../css/style.css"/>
		<title>MongoWebScraper</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script language="JavaScript" type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="main-container">
			<div class="jumbotron text-center">
  			<h1>WebDevNews</h1>
				<nav class="btn-group">
					<a href="/" class="btn btn-lg btn-primary" role="button">Home</a>
					<a href="/saved" class="btn btn-lg btn-primary" role="button">Saved Articles</a>
					<a href="/api/fetch" class="btn btn-lg btn-success" role="button">Fetch Articles</a>
					<a href="/clear" class="btn btn-lg btn-danger" role="button">Clear Articles</a>
				</nav>
			</div>
		{{{ body }}}
		</div>
	</body>
</html>