html, body {
    height: 100%;
}
.panelBody {
    border-bottom: 1px solid #aac7ef;
    padding-bottom: 5px;
    display: table;
    width: 100%;
}
.left-cell {
    display: table-cell;
    vertical-align: middle;
}
.right-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

@media only screen and (min-width: 768px) {
    #thumbnail-display {
        overflow: hidden; 
    }
    #col-container {
        display: inline-block;
        padding: .25rem;
        width:  50%;
    }
    #thumbnail-container {
        width:100%;
    }
    #wrap {
      min-height: 100%;
    }
    #main {
      overflow:auto;
    }
    .footer {
      position: relative;
      height: 150px;
      clear:both;
      padding-top:20px;
    }
}
@media only screen and (max-width: 768px) {
    .btn-lg {
        font-size: 3vw;
    }
}