@media only screen and (min-width: 768px) {
    #thumbnail-display {
        overflow: hidden; 
        /* outline: 2px solid red; */
        /* position:relative; */
        /* display: block; */
    }
    #col-container {
        /* overflow: hidden;  */
        /* outline: 2px solid blue; */
        /* width: 50%; */
        /* padding:1px; */
        display: inline-block;
        padding: .25rem;
        width:  50%;
    }
    #thumbnail-container {
        /* outline:2px solid green; */
        /* column-fill: balance */
        width:100%;
    }
}
@media only screen and (max-width: 768px) {
    .btn-lg {
        font-size: 3vw;
    }
}